In [ ]:
#Nama: Anak Agung Istri Agung Yulia Prameswari
#NIM: 2208541007
#Kelas: A
#Tugas IV

# WHILE LOOP

In [ ]:
#While Loop akan selalu dieksekusi selama nilainta True dan akan berhenti saat nilainya menjadi False 
x = 0 
while x > 2:
    y = x**2
    x = x - 1
    print(x)
#hasilnya tidak keluar karena data ini salah

In [5]:
a = 0
while a < 5: 
    print("angka " + str(a) + " masih dibawah 5")
    a += 1

angka 0 masih dibawah 5
angka 1 masih dibawah 5
angka 2 masih dibawah 5
angka 3 masih dibawah 5
angka 4 masih dibawah 5

In [6]:
a = 0
while a < 5: 
    print(a*  " *")
    a += 1

 *
 * *
 * * *
 * * * *

In [6]:
a = 1
while a < 9: 
    print("angka " + str(a) + " masih dibawah 9")
    a += 1

angka 1 masih dibawah 9
angka 2 masih dibawah 9
angka 3 masih dibawah 9
angka 4 masih dibawah 9
angka 5 masih dibawah 9
angka 6 masih dibawah 9
angka 7 masih dibawah 9
angka 8 masih dibawah 9

# LIST

In [32]:
#List dapat digunakan saat mempresentasika objek dalam Python berupa string atau angka
warna = ["ungu", "pink", "biru", "kuning"]
print(warna)

['ungu', 'pink', 'biru', 'kuning']

In [33]:
print(warna[0])

ungu

In [34]:
print(warna[-2])

biru

In [35]:
warna[1] = 'hitam'
print(warna)

['ungu', 'hitam', 'biru', 'kuning']

In [36]:
print(warna[1:3])
#data pertama adalah ungu, namun pada list jika kita mengetik 1 maka yang keluar adalah data kedua,  seperti data ini

['hitam', 'biru']

# METODA LIST

In [23]:
#Karena list merupakan objek, maka keberadaannya dapat dimanipulasi dengan
#menambahkan atau menghilangkan isi nya.
nama = ['anak', 'agung', 'istri', 'agung', 'yulia']
nama.append('prameswari')
print (nama)

['anak', 'agung', 'istri', 'agung', 'yulia', 'prameswari']

In [24]:
print ('Clara' in nama)

False

In [25]:
print ('Prameswari' in nama)
#walau kata prameswari ada pada data namun jika beda penulisan maka akan tetap false

False

In [26]:
print ('prameswari' in nama)

True

In [27]:
print(len(nama))

6

In [18]:
nim = ['22', '08541', '007']
print(nim)

['22', '08541', '007']

In [19]:
nim.remove('08541')
print(nim)

['22', '007']

# FOR LOOP

In [3]:
# For loop dapat digunakan untuk memanggil semua isi list. 
warna = ["ungu", "pink", "biru", "kuning"]
for jenis in warna: 
    print(warna)

['ungu', 'pink', 'biru', 'kuning']
['ungu', 'pink', 'biru', 'kuning']
['ungu', 'pink', 'biru', 'kuning']
['ungu', 'pink', 'biru', 'kuning']

In [4]:
warna = ["ungu", "pink", "biru", "kuning"]
for jenis in warna: 
    print(jenis)

ungu
pink
biru
kuning

In [5]:
for i in range (len(warna)):
    print(warna[i])

ungu
pink
biru
kuning

In [6]:
i = 0
while i < len(warna):
    print(warna[i])
    i+=1

ungu
pink
biru
kuning

In [7]:
Agama = ["HIndu", "Kristen", "Katolik", "Budha", "Islam", "Konghucu"]
for jenis in Agama: 
    print(Agama)

['HIndu', 'Kristen', 'Katolik', 'Budha', 'Islam', 'Konghucu']
['HIndu', 'Kristen', 'Katolik', 'Budha', 'Islam', 'Konghucu']
['HIndu', 'Kristen', 'Katolik', 'Budha', 'Islam', 'Konghucu']
['HIndu', 'Kristen', 'Katolik', 'Budha', 'Islam', 'Konghucu']
['HIndu', 'Kristen', 'Katolik', 'Budha', 'Islam', 'Konghucu']
['HIndu', 'Kristen', 'Katolik', 'Budha', 'Islam', 'Konghucu']

# FUNGSI RANGE

In [15]:
#Fungsi range berguna untuk membangkitkan bilangan berurutan atau berpola
#yang kita inginkan. Untuk menuliskannya, perlu dikombinasikan dengan for Loop

angka = range(10)
print (angka)

range(0, 10)

In [16]:
for ada in angka: 
    print(ada)

0
1
2
3
4
5
6
7
8
9

In [20]:
for isi in range (7,10):
    print(isi)
#hasil yang keluar di kurang 1 dari yang kita inginkan, seperti pada percobaan diatas, pada data yang diminta 7 sampai 10
#tetapi yang terlihat pada hasil adalah 7,8,9 saja 10 tidak terlihat di hasil

7
8
9

In [22]:
for tiga in range (0,25,3):
    print(tiga)
#ini menjadi kelipatan tiga karena kita menambahkan angka 3 pada urutan ketiga

0
3
6
9
12
15
18
21
24

In [ ]:
for coba in range (0,25,3,5):
    print(coba)
#tidak bisa menggunakan lebih dari 3 data