In [35]:
#tugas III
#Nama: Anak Agung Istri Agung Yulia Prameswari 
#NIM: 2208541007
#Kelas: A

## String Index
#urutan dengan index dimulai dengan 0 dan urutan terakhir didefinisikan sebagai urutan ke -1 
#spasi juga hitung sebagai urutan
#masukkan datanya terlebih dahulu
warna = 'aku suka warna ungu'
#index dimulai dari 0 hingga index 19 
#index "aku suka" kan dimulai dari 0 hingga 8
print(warna[0:8])

#atau bisa juga dilakukan seperti ini 
print(warna[10:-1])
#ini akan menampilkan hasil "arna ungu" karena jika ingin mengambil huruf yang ada di tengah maka index itu harus dikurang satu 
#w pada kata "warna" itu berada di urutan ke 10 maka jika ingin tampil sempurna "warna ungu" maka harus di kurang satu 
#jika kita menggunakan -1 untuk urutan terakhir maka hasilnya kata dari data yang kita inginkan berkurang satu huruf
#seharusnya "ungu" namun karna menggunakan -1 maka menjadi "ung"
#jadinya 9 hingga 19
print (warna[9:19])

aku suka
arna ung
warna ungu

In [5]:
#masukkan dulu datanya 
bunga = 'mawar ungu kamu itu langka'

print(bunga[11:28])
#jika di print maka akan menampilkan hasil "kamu itu langka"
#haruf k dalam kata "kamu" itu merupakan urutan ke 12 tetapi karna di merupakan kata di tengah maka harus dikuri satu, jadinya urutan ke 11 

#print(bunga[6:10]+' '+[16:19])
#ini tidak akan berhasil karena [16:19] tidak didefinisikan bunga, seharusnya print(bunga[6:10]+' '+ bunga[16:19])
print(bunga[6:10]+' '+ bunga[16:19])
#ini akan menampilkan "ungu" dan "itu"

kamu itu langka
ungu itu

In [38]:
print(warna[0:9]+' '+ bunga[0:11]+' '+ "karena"+' '+ bunga[16:28])

aku suka  mawar ungu  karena itu langka

In [34]:
# String Method 
kampus = 'Hari Senin Anak Matematika Kelas A Kuliah ke Kampus'

#pada string method ini kita bisa melihat jumlah banyak huruf yang ada termasuk spasi 
print(len(kampus))
#totalnya ada 51 

#kita juga bisa merubah salah satu kata dalam kalimat tersebut 
#kampus.replace('kelas a', 'Angkatan 22') ini tidak akan berhasil, dan kalimatnya akan tetap sama karena pada saat memasukkan dat 
#saya memasukkan "Kelas A" namun saat mau mengubahnya saya membuat "kelas a" jadi data tersebut bisa berubah jika data yang diubah sama dengan data yang dimasukkan 
kampus.replace('Kelas A', 'Angkatan 22')
#ini akan berhasil karna data yang ingin di ubah sama dengan data yang dimasukkan

51

'Hari Senin Anak Matematika Angkatan 22 Kuliah ke Kampus'

In [10]:
#jika ingin membuat data tersebut menggunakan huruf kecil semua makaa
kampus.lower()
#maka hasilnya akan "hari senin anak matematika kelas a kuliah ke kampus"

'hari senin anak matematika kelas a kuliah ke kampus'

In [11]:
#jika ingin membuat data tersebut menggunakan huruf besar semuaa maka 
kampus.upper()
#maka hasilnya akan "HARI SENIN ANAK MATEMATIKA KELAS A KULIAH KE KAMPUS"

'HARI SENIN ANAK MATEMATIKA KELAS A KULIAH KE KAMPUS'

In [33]:
# Operasi Matematika 

#penjumlahan dengan tanda (+)
print(5+5)

#pengurangan dengan tanda (-) 
print (2023-2005)

#perkalian dengan tanda (*)
print (11*11)

#pembagian dengan tanda (/)
print (7/2)

#pembulatan pembagian dengan tanda (//)
print (7//2)

#modulu dengan tanda (%)
print (9%4)

#pemangkatan dengan tanda (**)
print (3**3)

10
18
121
3.5
3
1
27

In [37]:
print((25+15)/(2**2))
print((10/2)*(100-50))

10.0
250.0

In [32]:
# Operator Perbandingan di Python 
#jika yang kita katakan benar maka hasilnya akan menampilkan 'true'
#namun jika salah makan akan menampilkan 'false'

#lebih besar (>)
a= 5>2
print (a)
b= 2>5
print (b)

#lebih kecil (<)
c= 3<7
print (c)
d= 7<3
print (d)

#lebih besar sama dengan (>=)
e= 9>=9
print(e)
f= 7>=9
print(f)

#lebih kecil sama dengan (<=)
g= 6<=9
print(g)
h= 9<=6
print (h)

#sama dengan (==)
i= 7==7
print(i)
j= 5==9
print(j)

#tidak sama dengan (!=)
k= 7!=5
print (k)
l= 8!=8
print (l)

True
False
True
False
True
False
True
False
True
False
True
False

In [31]:
# Operator Logika 
#operator logika pada python adalah and, or, dan not

#operator and akan 'true' jika kedua nilai adalah 'true'
ungu = 9 
biru = 3
print(ungu > 5 and biru > 1)
print(ungu > 5 and biru > 9)
print(ungu < 12 and biru > 7)

#operator or akan 'true' jika salah satu nilainya 'true'
mawar = 5
melati = 8
print(mawar > 2 or melati < 10)
print(mawar > 3 or mawar < 7)
print (melati > 10 or melati < 4)
#operator or juga akan 'true' jika keduanya true

#operator not akan menghasilkan nilai berlawanan 
print(not(ungu > 5 and biru > 1))
print(not(melati > 10 or melati < 4))

True
False
False
True
True
False
False
True

In [30]:
# Operator if di Python 
#operator if akan dijalankan apabila nilai variabel yang dijalankan adalah 'true'
#jika nilainya 'false' maka tidak akan dijalankan 

usia = float(input("Usia anda dalam keluarga "))
if usia >= 80:
    print("Waw anda bisa bertahan sampai sejauh ini")
if usia < 80 and usia >= 70:
    print ("selamat anda memasuki kepala 7, semoga tetap sehat")
if usia < 70 and usia >= 60:
    print ("sudah memasuki kepala 6, makanan harus tetap sehat yaa")
if usia < 60 and usia >= 50:
    print ("ayooo rajin olahragaa dan makan makanan sehat")
if usia < 50 and usia >= 40:
    print ("jangan terlalu lelah bekerja yaa")
if usia < 40 and usia >= 30:
    print ("selamat sudah kepala 3")
if usia < 30 and usia >= 20:
    print ("kerja lembur bagai kuda")
if usia < 20 and usia >= 10:
    print ("jangan sering begadang!!! nanti gabisa tinggi")
if usia < 10:
    print ("selamat bersenang senanggg")

Usia anda dalam keluarga 17
jangan sering begadang!!! nanti gabisa tinggi

# MARKDOWN
## ALGORITMA 
### MATEMATIKA 
#### MIPA
##### UDAYANA