In [1]:
#hasilnya error karena tidak berisi buka dan tutup kurung 
print "aku gunggekswari"

SyntaxError: Missing parentheses in call to 'print'. Did you mean print("aku gunggekswari")? (3978832514.py, line 1)

In [2]:
#error karena tanda yang digunakan tidak sama, seharusnya jika yang digunakan tanda " makan di kedua sisi harus
#digunakan tanda yang sama, senaliknya jika menggunakan tanda ' maka di kedua sisinya menggunakan tanda '
print ("nim ku 007')

SyntaxError: EOL while scanning string literal (2323821732.py, line 1)

In [3]:
#contoh yang benar 
print ('namaku gunggekswari nim007')

namaku gunggekswari nim007

In [4]:
print ((2023-2000)-(2023-2005))

5

In [5]:
nama_depan_07 = "gunggek"
nama_belakang_07 = "swari"
print ('haloo sama saya ' +nama_depan_07 +nama_belakang_07)

haloo sama saya gunggekswari

In [6]:
# jarak antara input nama tidak ada spasi karena saat input diakhir kata tidak ada spasi 
#print hasil akhirnya tidak ada spasi karna saat di print tidak ada +' '+
nama = input('input nama')
nim = input('input nim')
matkul = input('input mata kuliah hari ini')
print(nama+nim+matkul)

input namagunggek
input nim2208541007
input mata kuliah hari inialgoritma
gunggek2208541007algoritma

In [7]:
#contoh yang rapi, ada spasinyaa
nama = input('input nama ')
nim = input('input nim ')
matkul = input('input mata kuliah hari ini ')
print(nama+' '+nim+' '+matkul)

input nama gunggek
input nim 007
input mata kuliah hari ini algoritma
gunggek 007 algoritma

In [4]:
#error karena menggunakan angka 0 
#jika menggunakan huruf maka harus berisi tanda kutip "" atau ''
mahasiswa_07 = 07
nama = gunggek 
print (mahasiswa_07)
print (nama)

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (192078157.py, line 3)

In [6]:
#tidak bisa karena setelah di run data input yang dimasukan berisi titik
dompet_07 = int(input('uang di dompet saya adalah '))
tabungan_07 = int(input('uang di tabungan saya adalah '))
#total = int(dompet_07) + int(tabungan_07)
print ('jadi total uang saya adalah ' + str(dompet_07 + tabungan_07))

uang di dompet saya adalah 50.000

ValueError: invalid literal for int() with base 10: '50.000'

In [10]:
#total uang saya tidak bisa dijumlahkan karena di depan input tidak berisi int 
dompet_07 = input('uang di dompet saya adalah ')
tabungan_07 = input('uang di tabungan saya adalah ')
#total = int(dompet_07) + int(tabungan_07)
print ('jadi total uang saya adalah ' + str(dompet_07 + tabungan_07))

uang di dompet saya adalah 50000
uang di tabungan saya adalah 1000000
jadi total uang saya adalah 500001000000

In [11]:
# berhasil dijumlahkan 
dompet_07 = int(input('uang di dompet saya adalah '))
tabungan_07 = int(input('uang di tabungan saya adalah '))
#total = int(dompet_07) + int(tabungan_07)
print ('jadi total uang saya adalah ' + str(dompet_07 + tabungan_07))

uang di dompet saya adalah 500000
uang di tabungan saya adalah 1000000
jadi total uang saya adalah 1500000

In [12]:
nama_lengkap = "Anak Agung Istri Agung Yulia Prameswari"
nim = " 2208541007 "
kelas = " A "
prodi = " Matematika "
fakultas = " MIPA "
print (nama_lengkap + nim + kelas + prodi + fakultas)

Anak Agung Istri Agung Yulia Prameswari 2208541007  A  Matematika  MIPA

In [13]:
#tanpa memasukan data tetapi hasilnya bisa terlihat karena ingatan dari data sebelumnya 
print (prodi)

 Matematika

In [7]:
# tidak bisa di print karena tidak menggunakan tanda '' atau "" 
warna_07 = (ungu, biru, putih, hitam, kuning)
print (warna)

NameError: name 'ungu' is not defined

In [15]:
warna_07 = ("ungu, biru, putih, hitam, kuning")
print (warna_07)

ungu, biru, putih, hitam, kuning

In [10]:
#tidak dapat ditemukan karena kata yang dimasukan berbeda dengan kata yang di print 
angka = [1,1,1], [2,2,2], [3,3,3]
print (angkas)

NameError: name 'angkas' is not defined

In [11]:
angka = [[1,1,1], [2,2,2], [3,3,3]]
print (angka)

[[1, 1, 1], [2, 2, 2], [3, 3, 3]]

In [12]:
#jika tidak menggunakan kurung siku di depan dan belakang matrik maka setelah di print akan menjadi
#kurung biasa. berbeda dengan contoh yang diatas 
angka = [1,1,1], [2,2,2], [3,3,3]
print (angka)

([1, 1, 1], [2, 2, 2], [3, 3, 3])

In [1]:
#karena setelah di print jumlah belanjaan yang di masukkan menggunakan koma. seharusnya menggunakan titik
belanja = float(input('jumlah belanjaan '))
bayar = float(input('uang yang dibayarkan '))
#total = float(bayar) - float(belanja)
print ('jadi kembaliannya ' + str(bayar - belanja))

jumlah belanjaan 100,000

ValueError: could not convert string to float: '100,000'

In [9]:
belanja_07 = float(input('jumlah belanjaan '))
bayar_07 = float(input('uang yang dibayarkan '))
#total = float(bayar_07) - float(belanja_07)
print ('jadi kembaliannya ' + str(bayar_07 - belanja_07))

jumlah belanjaan 54.789
uang yang dibayarkan 100.000
jadi kembaliannya 45.211